.perfectButton {
    color: #000;
    font-size: 16px;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 16px 80px;
    font-weight: 600;
    border-radius: 200px;
    gap: 10px;
    outline: none;
    border: none;
    position: relative;
    cursor: pointer;
    background: var(--new-gepete, linear-gradient(128deg, #00FDC2 0%, #00EC85 100%));
    filter: drop-shadow(0px 0px 17px rgba(0, 253, 194, .3));

}

.perfectButton::before{
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 200px;
    padding: 2px;
    background: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
}
@media (max-width: 1080px){
    .perfectButton{
        font-size: 14px;
        padding: 16px 30px;

    }
}
@media (max-width: 900px){


}