#proof {
    display: grid;
    grid-template-columns: 4fr 5fr;
    margin-top: 64px;
    gap: 20px;
}


.video {
    border-radius: 12px;
    background: black;
    height: 315px;
    width: 100%;
}

#proofContent {
    justify-content: right;
    align-items: center;

    display: flex;
    flex-wrap: wrap;
    gap: 7px;
}



@media (max-width: 1080px) {
    #proof {
        display: flex;
        flex-direction: column;
    }

    .video {
        width: 560px;
        height: 315px;

    }

    #proofContent {
        margin-top: 32px;
        justify-content: start;
        align-items: center;
    }

}

@media (max-width:550px) {
    .video{
        width: 90vw;
        height: 50vw;
    }
    #proofContent {
        justify-content: center;
    }
}