#guarantee {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

#iconGuarantee {
  width: 55px;
  height: 55px;
  margin-bottom: 12px;
}

#guarantee * {
  text-align: center;
}
