* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  color: #F7F7F7;
  font-family: 'Inter', sans-serif;

}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  background-color: #020303;
}

.spacing {
  padding: 0px 50px;

  max-width: 1080px;
  width: -moz-available;
  width: -webkit-fill-available;
  width: fill-available;
}


.greenText {
  background: linear-gradient(90deg, rgba(0, 253, 194, 1) 0%, rgba(0, 236, 133, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.sectionMinTitle {
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 500;
}

.sectionMText {
  font-size: 38px;
  font-weight: 600;
}

.txtP {
  font-size: 18px;
  font-weight: 400;
  color: #B5B5B5;
}

.txtPPP {
  font-size: 15px;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.2px;
  color: #B5B5B5;

}

.sectionHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media(max-width: 900px) {
  .spacing {
    padding: 00px 25px;

  }

  .sectionHeader {
    align-items: center;
    margin-bottom: 16px;
  }

  .sectionHeader * {
    text-align: center;
  }

  .sectionMText {
    font-size: 24px;
    line-height: 32px;
  }

}